a{text-decoration: none;}

.profile
{
        position : relative;
        grid-area: a;
        display: flex;
        flex-direction: column;
}

.profile_img img
{
        width: fit-content;
        height: fit-content;
        vertical-align: middle;
}

.profile_info
{
        background-color: antiquewhite;
        font-size : 20px;
        font-family : 'ypseo';
}

.profile_info p
{
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.profile_info_stat
{
        background-color: aqua;
}

.profile_info_stat p
{
        font-size: 10px;
}

.equipment
{
        background-color: aquamarine;
        float: right;
        width: fit-content;
        height: fit-content;
}

.container
{
        display: grid;
        grid-template-areas: 
        "header header header"
        "   a    main    b   "
        "   .     .      .   "
        "footer footer footer";
}